.custom-btn{
    background-color: #0f3460 !important;
    padding:6 px ;
    width:100%;
}
.signup-container {
  min-height: 100vh;
   background: linear-gradient(135deg, #001f3f, #005f99, #00aaff); /* soft gradient */
}
h2{
    color: #0f3460 !important;
}